.logoMain {
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.logoIcon {
    color: #fcbf49;
    font-weight: 700;
    font-size: 28px;
}

.navLink {
    transition: color 0.3s ease;
}

.icons{
    cursor: pointer;
}